body {
  background-color: rgb(111, 111, 111);
  background-size: cover;
  background-image: url("TypeScriptBack.jpg");
  background-repeat: no-repeat;
  
  background-position: center;
}
p {
  margin: 5px;
  text-indent: 20px;
  text-align: justify;
  line-height: 120%;
  text-indent: 0;
}

#content {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
  padding: 30px;
  width: 80%;
  
}

h1 a {
  color: black;
  text-decoration: none;
}
a:hover{
  color: #087AC8;
  text-decoration: none;
}

#picture {
  float: right;
  height: 257px;
}

h1 {
  font-variant: small-caps;
  font-style: italic;
}

li {
  margin-left: 15px;
  list-style-type: square;
}

table {
  width: 80%;
  margin: auto;
 
}

#span{
  color: #087AC8;
  font-weight: bold;
}
#szam{
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-size: 1.8rem;
  margin-left: 177px;
}

td{
  border: 1px solid gray;
  text-align:center;
}
th{
  text-align:center;
  color: white;
  background-color: #087AC8;
  padding: 5px;
}